body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    /* text-decoration: underline; */
}

.post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.post h3 {
    margin-top: 0;
}

.logout-btn {
    font-size: 16px;
    padding: 10px;
    color: black;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}

.logout-btn:hover {
    background-color: #007BFF;
    color: white;
}