<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ username }}'s Blog</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<style>
    .logout-btn{
       padding :15px 30px;
       border-radius: 8px;
       background-color:rgb(224, 224, 224);

    }
    .heade{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }

</style>
<body>
    <div class="heade">

        <h1> {{ username }}</h1>
        <p><a href="/logout" class="logout-btn">Log Out</a></p>
    </div>

    <!-- Logout button -->

    <!-- Form to submit a new blog post -->
    <form action="/new" method="POST">
        <input style="border-radius: 8px;border: 1px solid rgb(199, 199, 199);height: 30px;" type="text" name="title" placeholder="Blog Title" required>
        <textarea  style="border-radius: 8px;border: 1px solid rgb(199, 199, 199);height: 100px;"  name="content" placeholder="Blog Content" required></textarea>
        <button style="width: 100px;border-radius: 8px;" type="submit">Post</button>
    </form>

    <h2>Your Blog Posts</h2>
    <div id="posts">
        {% for post in posts %}
            <div class="post">
                <h3><a href="/post/{{ loop.index0 }}">{{ post.title }}</a></h3> <!-- Title links to full post -->
            </div>
        {% endfor %}
    </div>
</body>
</html>
